Source: ros-hydro-velocity-controllers
Section: misc
Priority: extra
Maintainer: Vijay Pradeep <vijay@hidof.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-controller-interface, ros-hydro-forward-command-controller
Homepage: https://github.com/ros-controls/ros_controllers/wiki
Standards-Version: 3.9.2

Package: ros-hydro-velocity-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-controller-interface, ros-hydro-forward-command-controller
Description: velocity_controllers
